<!--
<ul>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[0]['range']}"
            (click)="generateGraph(0,ranges[0]['range'])">1D
        </button>
    </li>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[1]['range']}"
            (click)="generateGraph(1,ranges[1]['range'])">7D
        </button>
    </li>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[2]['range']}"
            (click)="generateGraph(2,ranges[2]['range'])">1M
        </button>
    </li>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[3]['range']}"
            (click)="generateGraph(3,ranges[3]['range'])">3M
        </button>
    </li>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[4]['range']}"
            (click)="generateGraph(4,ranges[4]['range'])">1Y
        </button>
    </li>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[5]['range']}"
            (click)="generateGraph(5,ranges[5]['range'])">YTD
        </button>
    </li>
    <li>
        <button [routerLink]="['/graph']" [queryParams]="{id:id,range:ranges[6]['range']}"
            (click)="generateGraph(6,ranges[6]['range'])">ALL
        </button>
    </li>
</ul>
-->
<router-outlet></router-outlet>